<header class="row-fluid text-center">
  <h1>base app</h1>
  <h4>Bem-vindo!</h4>
</header>
<section class="row-fluid text-center">
  <form action="/login" method="post">
    <input type="text" name="user[name]" placeholder="Digite seu nome.">
    <br>
    <input type="text" name="user[email]" placeholder="Digite seu e-mail.">
    <br>
    <button type="submit" class="btn btn-success">Entrar</button>
  </form>
</section>
